<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ElectroGroup Header</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">   
 
    <script src="https://kit.fontawesome.com/31ef5b172c.js" crossorigin="anonymous"></script>

</head>
<body>

    <!--HEADER-->

     <header class="main__header">
        <div class="main__header__top_bar">

            <a class="hamburguer-buttom" href="">
                <i class="fa-solid fa-bars"></i>
               </a> 

         <img src="/img/logo electrogroup s texto.png" class="logo" alt="Logo ElectroGroup">
                
        
         <h2 class="copy__header">ElectroGroup</h2>
         
            <div class="main__header-search">
             <form action="">
               <input type="text" placeholder="Busca lo que tanto deseas" id="search">
               <i style="color:rgb(8, 8, 8)" class="fa-solid fa-magnifying-glass"></i>
            </form> 
          </div>
           <nav class="main__navbar-icon">
            <ul>
              <i class="fa-regular fa-circle-user"></i>
              <i class="fa-solid fa-heart"></i>
              <i class="fa-solid fa-cart-shopping"></i>
            </ul>                   
           </nav>
        
        </div>
     <nav class="main-navbar">
       <ul class="left-navbar">
          <li><a href="">Hardware</a></li>
          <li><a href="">Notebooks</a></li>
          <li><a href="">Accesorios</a></li>
          <li><a href="">Marcas</a></li>
       </ul>
       <ul class="right-navbar">
          <li><i id="iconodeayuda" class="fa-solid fa-headset"></i><a href="">Centro de ayuda</a></i></li>
       </ul>
     </nav>


    </header>

    <!--FORMULARIO DE REGISTRO-->

</body>
</html>        