<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/23bf6444a3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css">
    
    <title>Electrogroup</title>
</head>
<body>
    <footer>
        <nav>
        <ul>
            <h5>navegación</h5>
            <li><a href=""></a>Inicio</li>
            <li><a href=""></a>Producto</li>
            <li><a href=""></a>Sucursales</li>
            <li><a href=""></a>Contactanos</li>
            
        </ul>
        <ul>
            <h5>sobre nosotros</h5>
            <li><a href="">Quienes Somos</a></li>
            <li><a href="">Preguntas Frecuentes</a></li>
            <li><a href=""></a>Garantia y Deolucion</li>
            <li><a href=""></a>Terminos y Condiciones</li>
        </ul>
        <ul>
            <h5>estamos para vos</h5>
            <li><a href="">1156789878</a></li>
            <li><a href=""></a>contacto@electrogroup</li>
        </ul>

        <div>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-x-twitter"></i>
            <i class="fa-brands fa-tiktok"></i>
            <i class="fa-brands fa-facebook"></i>

        </div>
    </nav>
    <div class="footer__copyright">
        <p>copyright electrogroup-2023</p>
    </div>
    </footer>
</body>
</html>