<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/23bf6444a3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css">
    
    
    <title>Electrogroup</title>
</head>
<body>
    <main>
        <img src="/img/banner1.webp" class="home__main__banner" alt="banner">
        <section class="home__main__section">
            <article class="home__main__section-article">
                <img src="/img/1-asus zenbook pro duo.png" alt="Asus Zenbook pro duo">
                <div>
                    <p>Asus Zenbook Pro Duo Oled Pantalla Touch 17" 16gb Ram 1tb Ssd Color Celestial Blue</p>
                    <h4>$2.364.932</h4>
                    <button><a href="">Agregar al carrito</a></button>
                </div>
            </article>
            <article class="home__main__section-article">
                <img src="/img/1-thinkpad Yoga X1.png" alt="Thinkpad Yoga X1">
                <div>
                    <p>Notebook Thinkpad X1 Yoga 6ta generacion Pantalla 14" 512gb Ssd 16gb Win 11 Pro</p>
                    <h4>$1.235.00</h4>
                    <button><a href="">Agregar al carrito</a></button>
                </div>
            </article>
            <article class="home__main__section-article">
                <img src="/img/2-rog strix g16.png" alt="Rog Strix">
                <div>
                    <p>Notebook Gamer ROG Strix g16 Pantalla 16" 16gb Ram 1tb Ssd 16 Rtx 4070 8gb</p>
                    <h4>$2.167.999</h4>
                    <button><a href="/productCart">Agregar al carrito</a></button>
                </div>
            </article>
            <article class="home__main__section-article">
                <img src="/img/1-asus zenbook pro duo.png" alt="Asus Zenbook">
                <div>
                    <p>Asus Zenbook Pro Duo Oled Pantalla Touch 17" 16gb Ram 1tb Ssd Color Celestial Blue</p>
                    <h4>$2.364.932</h4>
                    <button><a href="">Agregar al carrito</a></button>
                </div>
            </article>
        </section>
        <section class="home__section__article-logos">
            <a href="https://www.intel.la/content/www/xl/es/homepage.html" target="_blank"><img src="/img/Logo Intel Home Color 2 OK.png" alt="Logo Intel"></a>
            <a href="https://www.amd.com/es.html" target="_blank"><img src="/img/Logo AMD Home Color OK 2.png" alt="Logo AMD"></a>
            <a href="https://www.asus.com/" target="_blank"><img src="/img/Logo ASUS Home Color OK.png" alt="Logo Asus"></a>
            <a href="https://www.lenovo.com/ar/es/" target="_blank"><img src="/img/Logo LENOVO Home Color OK.png" alt="Logo lenovo"></a>
            <a href="https://www.gigabyte.com/" target="_blank"><img src="/img/Logo Gigabyte Home Color OK 2.png" alt="Logo gygabyte"></a>
        </section>

        
    </main>
    <footer>
        <nav>
        <ul>
            <h5>navegación</h5>
            <li><a href="" target="_blank">Inicio</a></li>
            <li><a href="" target="_blank">Producto</a></li>
            <li><a href="" target="_blank">Sucursales</a></li>
            <li><a href="" target="_blank">Contactanos</a></li>
            
        </ul>
        <ul>
            <h5>sobre nosotros</h5>
            <li><a href="" target="_blank">Quienes Somos</a></li>
            <li><a href="" target="_blank">Preguntas Frecuentes</a></li>
            <li><a href="" target="_blank">Garantia y Deolucion</a></li>
            <li><a href="" target="_blank">Terminos y Condiciones</a></li>
        </ul>
        <ul>
            <h5>estamos para vos</h5>
            <li><a href="" target="_blank">1156789878</a></li>
            <li><a href="" target="_blank">contacto@electrogroup</a></li>
        </ul>
            
        <div>
            <h4 class="home__footer__comunidad">Comunidad</h4>
            <a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://twitter.com/" target="_blank"><i class="fa-brands fa-x-twitter"></i></a>
            <a href="https://www.tiktok.com/" target="_blank"><i class="fa-brands fa-tiktok"></i></a>
            <a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook"></i></a>

        </div>
    </nav>
    <div class="footer__copyright">
        <p>copyright electrogroup-2023</p>
    </div>
    </footer>
    
</body>
</html>