<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/23bf6444a3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css">
    
    <title>Electrogroup</title>
</head>
<body>
    <main>
        <fieldset class="registro__main2">
            <h1>login</h1>
            
              <form action="/login" method="post">
                <div>
                  <label for="nombre">user name </label>
                  <input type="text" name="nombre">
                </div>
                <div>
                  <label for="password">password </label>
                  <input type="password" name="password" required>
                </div>
                <a href="./login">Forgot password?</a>
                <div class="contenor_botones">
                  
                  <button type="submit">login</button>
                  <button type="reset">signup</button>
                </div>
              </form>
          </fieldset>  
    </main>
    
</body>
</html>













