<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/23bf6444a3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css">
    
    
</head>
<body class="body_general_login">
  <div class="body__login">
    <div class="logo-login">
      <img src="img/electroGroupstexto.png" alt="logo de login">
      <h1>ElectroGroup</h1>
          </div>
      
      <main class="registro__main">
        <title>Electrogroup</title>
         
          <fieldset class="registro__main2">
              <h1>login</h1>
              
                <form action="/login" method="post">
                  <div >
                    <label for="nombre"> </label>
                    <input type="text" name="usuario" placeholder="User name" required>
                  </div>
                  <div >
                    <label for="password"> </label>
                    <input type="password" placeholder="Password" name="Password" required>
                    <div class="contraseña">
                      <a href="#">Forgot password?</a>
                  </div>
                  </div>
                 
              
                  
                  <div class="contenor_botones">
                    
                      <button type="submit" title="Ingresar" name="Ingresar">Login</button>
                      
                      <button id="botonrojo"  onclick="location.href='/register'">signup</button>
                  </div>
                </form>
            </fieldset>  
      </main>
  </div>
  
    
</body>
</html>













