<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/23bf6444a3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css">
    
    <title>Electrogroup</title>
</head>
<body><header class="main__header">
    <div class="main__header__top_bar">

        <a class="hamburguer-buttom" href="">
            <i class="fa-solid fa-bars"></i>
           </a> 

     <img src="/img/logo electrogroup s texto.png" class="logo" alt="Logo ElectroGroup">
            
    
     <a href="/"><h2 class="copy__header">ElectroGroup</h2></a>
     
        <div class="main__header-search">
         <form action="">
           <input type="text" placeholder="Busca lo que tanto deseas" id="search">
           <i style="color:rgb(8, 8, 8)" class="fa-solid fa-magnifying-glass"></i>
        </form> 
      </div>
       <nav class="main__navbar-icon">
        <ul>
            <a href="/login"><i class="fa-regular fa-circle-user"></i></a>
              
            <i class="fa-solid fa-heart"></i>
            <a href="/productCart"><i class="fa-solid fa-cart-shopping"></i></a>
        </ul>                   
       </nav>
    
    </div>
 <nav class="main-navbar">
   <ul class="left-navbar">
      <li><a href="">Hardware</a></li>
      <li><a href="">Notebooks</a></li>
      <li><a href="">Accesorios</a></li>
      <li><a href="">Marcas</a></li>
   </ul>
   <ul class="right-navbar">
      <li><i id="iconodeayuda" class="fa-solid fa-headset"></i><a href="">Centro de ayuda</a></i></li>
   </ul>
 </nav>


</header>

    <main>
         
         <section class="Detail__main__principal">
             <article class="Detail__main__articulos">
                <img src="/img/1-thinkpad Yoga X1.png" alt="Aquí va la foto4 1-thinkpad Yoga ">
                
                <div>
                    <h5>Precio especial Notebook</h5>
                    <h2 >$1.235.000 </h2>
                    <h5>Efectivo o Transferencia</h5>
                </div>
            <button>Comprar</button>
                
        
             </article>
             <article class="Detail__main__caracteristicas">
                <ul class="caracteristicas__titulo">
                    
                    <h2>ThinkPad X1 Yoga 6ta Gen(14"Intel)</h2>
                    <li>Laptop 2 en 1 potente y liviana con Intel Eva opcional</li>
                    <li>Inicio de sección con un solo toque</li>
                    <li>Lápiz recargable integrado para dibujar o tomar notas</li>
                </ul>
                <ul class="caracteristicas__detalles">
                    
                    <h2>Ver los detalles del Producto</h2>
                    <li>Marca: Lenovo</li>
                    <li>Nombre del modelo: Lenovo Thinkpad</li>
                    <li>Tamaño de pantalla: 14 Pulgadas</li>
                    <li>Tamaño de disco duro: 5152GB SSD</li>
                    <li>CPU: Core i7 </li>
                    <li>Nemoria Ram Instalada:16 GB</li>
                    <li>Sistema Operativo: Windows 10 Pro</li>
                    <li>Tarjeta gráfica: Integrado</li>
                    <li>Velocidad de la CPU: 3 GHz</li>
                </ul>
             </article>
         </section>
          <section class="detail__main__recomendado">
            <div class="recomendado__titulo">
                 <h3>Productos ralacionados con este articulo</h3>
                 <h4>Página 1 de 3</h4>
                </div>

             <ul class="recomendado__articulo">
                <article>
                <img src="/img/1-thinkpad Yoga X1.png" alt="Aquí va foto1 Notebook Thinkpad X1 Yoga">
                
                <p>Notebook Thinkpad X1 Yoga 6ta generacion Pantalla 14" 512gb Ssd 16gb Win 11 Pro</p>
                <p>$1.235.00</p>
             </article>
                        
             <article>
                <img src="/img/1-asus zenbook pro duo.png" alt="Aquí va foto2 Asus Zenbook Pro Duo Oled">
                <p>Asus Zenbook Pro Duo Oled Pantalla Touch 17" 16gb Ram 1tb Ssd Color Celestial Blue</p>
                <p>$2.364.932</p>
             </article>
             <article>
                <img src="/img/1-rog strix g16.png" alt="Aquí va foto3 Notebook Gamer ROG Strix g16">
                <p>Notebook Gamer ROG Strix g16 Pantalla 16" 16gb Ram 1tb Ssd 16 Rtx 4070 8gb</p>
                <p>$2.167.999</p>
             </article>
            </div>

          </section>
        
    </main>
    <footer>
        <nav>
        <ul>
            <h5>navegación</h5>
            <li><a href="/">Inicio</a></li>
            <li><a href="/">Producto</a></li>
            <li><a href="">Sucursales</a></li>
            <li><a href="">Contactanos</a></li>
            
        </ul>
        <ul>
            <h5>sobre nosotros</h5>
            <li><a href="">Quienes Somos</a></li>
            <li><a href="">Preguntas Frecuentes</a></li>
            <li><a href="">Garantia y Deolucion</a></li>
            <li><a href="">Terminos y Condiciones</a></li>
        </ul>
        <ul>
            <h5>estamos para vos</h5>
            <li><a href="">1156789878</a></li>
            <li><a href="">contacto@electrogroup</a></li>
        </ul>
            
        <div>
            <h4 class="home__footer__comunidad">Comunidad</h4>
            <a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://twitter.com/" target="_blank"><i class="fa-brands fa-x-twitter"></i></a>
            <a href="https://www.tiktok.com/" target="_blank"><i class="fa-brands fa-tiktok"></i></a>
            <a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook"></i></a>

        </div>
    </nav>
    <div class="footer__copyright">
        <p>copyright electrogroup-2023</p>
    </div>
    </footer>
</body>
</html>