<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/23bf6444a3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css">

    <!-- <div class="bodygeneral_productcard">
        <img src="/img/electroGroupstexto.png" alt="">
    </div>   -->
</head>

<body >
    
    
  

  

    
       
    <div class="boton_hambur">
        <i class="fa-solid fa-bars" style="color: #000000;"></i>
        <h4>CARRITO DE COMPRAS</h4>
    </div>
    <div class="bodygeneral_productcard2">
        <div class="notebook_1">
            <img src="img/1-rog strix g16.png" alt="">
            <p>Notebook Gamer ROG Strix G16 Pantalla 16 16gb Ram 1tb Ssd 16 Rtx 4070 8gb</p>
            <h3>$ 2.167.999,00</h3>
        </div>
        <div class="notebook_2">
            <img src="img/1-thinkpad Yoga X1.png" alt="">
            <p>ThinkPad X1 Yoga 6ta Gen Pantalla 14 512gb Ssd 16gb
                Win 11 Pro</p>
            <h3>$ 1.235.000,00</h3>
        </div>
        <div class="medio_De_pago">
            <div class="electroenvio">
                <h2>ELECTRO <br> ENVÍO</h2>
                <input class="envioelectro" type="text" name="envio" placeholder="Codigo postal" required="">
            <h5>Ingresá tu código postal
                para calcular el costo de envio</h5>
            </div>
           
            <div class="oca">
                
                <input type="radio" name="oca" value="oca">
<img src="img/oca.png" alt="oca">
            </div>
            <div class="correoarg">
                <input type="radio" name="correoarg" value="correoarg">
<img src="img/correoarg.jpg" alt="correoarg">
            </div>
            <div class="andreani">
                <input type="radio" name="andreani" value="andreani">
<img src="img/andreani.png" alt="andreani">
            </div>
            
            <h3>$ 7.999,00</h3>
        </div>
        <div class="pagar">
            <h2>MEDIO <br> DE  <br>PAGO</h2>
            <div class="tipodepago">
                <div class="transferencia">
                    <label>transferencia o deposito</label>
                    <input type="radio" name="deposito" value="deposito">
                </div>
                <div class="Tarjetas">
                    <label>Tarjetas de crédito bancarizada ¡Hasta 12 cuotas!</label>
                    <input type="radio" name="deposito" value="deposito">
                </div>
                <div class="Mercadopago">
                    <label>Mercadopago - Tarjetas Online, PagoFacil, RapiPago</label>
                    <input type="radio" name="deposito" value="deposito">
                </div>
                
            </div>
            <h3>TOTAL: <br>$ 1.235.000,00</h3>
        </div>
        <div class="boton_compra">
            <form action="/">
                <button>
                    PAGAR
                </button>
            </form>
        </div>
        
    </div>
    <div class="footer__productcart">
        <footer>
            <nav>
            <ul>
                <h5>navegación</h5>
                <li><a href="/">Inicio</a></li>
                <li><a href="/">Producto</a></li>
                <li><a href="">Sucursales</a></li>
                <li><a href="">Contactanos</a></li>
                
            </ul>
            <ul>
                <h5>sobre nosotros</h5>
                <li><a href="">Quienes Somos</a></li>
                <li><a href="">Preguntas Frecuentes</a></li>
                <li><a href="">Garantia y Deolucion</a></li>
                <li><a href="">Terminos y Condiciones</a></li>
            </ul>
            <ul>
                <h5>estamos para vos</h5>
                <li><a href="">1156789878</a></li>
                <li><a href="">contacto@electrogroup</a></li>
            </ul>
                
            <div>
                <h4 class="home__footer__comunidad">Comunidad</h4>
                <a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                <a href="https://twitter.com/" target="_blank"><i class="fa-brands fa-x-twitter"></i></a>
                <a href="https://www.tiktok.com/" target="_blank"><i class="fa-brands fa-tiktok"></i></a>
                <a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook"></i></a>
    
            </div>
        </nav>
        <div class="footer__copyright">
            <p>copyright electrogroup-2023</p>
        </div>
        </footer>
    </div>
    
</body>

</html>