footer{
    background-color: var(--color-violeta);
    color: white;
    }

footer nav{
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-top: 10px;
  
}

footer nav ul {
    width: 20%;
    font-size: 6px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 5%;
    
    }

footer nav ul li{
    padding: 5% 0;
    
}


footer nav h5{
    font-size: 8px;
    margin-bottom: 5%;
    text-transform: uppercase;
    font-weight: 300;
    
}

footer nav div{
    align-self: flex-end;
    width: 15%;
    margin-left: 2%;
    position: absolute;
    bottom: 6%;
    right: 8%;
}

.home__footer__comunidad{
    display: none;
}

footer nav div a{
    width: 30%;
    padding-left: 8%;
}

.footer__copyright{
    font-size: 5px;
    border-top: 1px solid black;
    text-align: center;
}



@media(min-width: 768px){
    footer nav ul {
        width: 20%;
        font-size: 10px;
        margin: 0 5%;
        text-align: center;
        
        }

    footer nav h5{
            font-size: 14px;
        }
    
    .home__footer__comunidad{
        display: block;
        
        text-align: center;
        font-size: 16px;
        font-weight: 300;
        margin-bottom: 5%;
    }

     nav div a{
            width: 10%;
            padding-left: 1%
        } 
    
    .footer__copyright{
            font-size: 8px;
            
        }
}

@media(min-width: 1024px){
    
    footer nav{
        max-width: 1024px;
        margin: 0 auto;
    }

    footer nav ul {
        font-size: 14px;
       }
    footer nav h5{
        font-size: 20px;
    }
    .home__footer__comunidad{
       
        font-size: 20px;
        
    }

    footer nav div a{
        width: 40%;
        padding-left: 10%;
    }

    
    
}