.bodygeneral_productcard img {

    width: 100%;
    opacity: 0.1;
    position: absolute;

}

.bodygeneral_productcard2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.home__section {

    display: flex;
    justify-content: space-between;
    width: 10%;
}

.header__productcart {

    background-color: #21043d;
}

.header__productcart input {
    margin-bottom: 4px;
    font-size: 9px;
    width: 252px;
    text-align: center;
    text-decoration: underline;
}

.footer__productcart {
    margin-bottom: 10px;
}

.notebook_1 {
    border: 1px solid black;
    background-size: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 23%;
    border-radius: 7px;
    width: 80%;
    margin: 8px;
    background-color: rgba(128, 128, 128, 0.363);

}

.notebook_1 img {
    width: 20%;
    filter: brightness(1.1);
    mix-blend-mode: multiply;
}

.notebook_2 {
    border: 1px solid black;
    background-size: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 23%;
    border-radius: 7px;
    width: 80%;
    margin: 8px;
    background-color: rgba(128, 128, 128, 0.363);

}

.notebook_2 img {
    width: 20%;
    filter: brightness(1.1);
    mix-blend-mode: multiply;
}

.medio_De_pago {
    border: 1px solid black;
    background-size: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 23%;
    border-radius: 7px;
    width: 80%;
    margin: 8px;
    background-color: rgba(128, 128, 128, 0.363);

}

.pagar {
    border: 1px solid black;
    background-size: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 23%;
    border-radius: 7px;
    width: 80%;
    margin: 8px;
    background-color: rgba(128, 128, 128, 0.363);
    font-weight: bold;
}

.boton_compra {
    margin: 10px;

}

.boton_compra button {
    border-radius: 15px;
    border: 1px solid;
    padding: 2px;
    width: 125%;
    background-color: rgba(128, 128, 128, 0.363);
    font-weight: bold;
}

.envioelectro {
    width: 100%;
    font-size: 7px;
    border-radius: 6px;
    border: 0.1px solid;
    text-align: center;
}

.electroenvio {
    display: flex;
    flex-direction: column;
    padding: 1px;
    width: 22%;
    align-items: center;
    
}




h2 {
    color: #21043d;
    font-weight: bold;
    font-size: 9px;
    margin-left: 10px;


}

.electroenvio h5 {
    font-size: 3px;
    width: 31px;
}

.oca {
    display: flex;
    flex-direction: column-reverse;
    padding: 1px;
    width: 22%;
    align-items: center;
}

.oca img {
    width: 60%;
}

input {
    width: 20%;
}

.correoarg {
    display: flex;
    flex-direction: column-reverse;
    padding: 1px;
    width: 22%;
    align-items: center;

}

.correoarg img {
    width: 60%;
}

.andreani {
    display: flex;
    flex-direction: column-reverse;
    padding: 1px;
    width: 22%;
    align-items: center;

}

.andreani img {
    width: 75%;
    height: 60%;
}

h3 {
    display: flex;
    align-items: center;
    width: 23%;
    justify-content: center;


}

.tipodepago {
    display: flex;
    width: 39%;
    margin-right: 74px;
    flex-direction: column;
    align-items: flex-start;
}

.tipodepago label {
    color: #21043d;
    font-weight: bold;
    ;
    margin: 1px;
}

.transferencia {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.Tarjetas {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;

}

.Mercadopago {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;

}

.boton_hambur {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boton_hambur h4 {
    text-decoration: underline;
    font-size: 10px;
}

.tipodeenvio {
    display: flex;
}

@media(min-width: 768px){
    .header__productcart input {
        margin-top: 17px;
        font-size: 17px;
        width: 550px;
        text-align: center;
        text-decoration: underline;
    }
    .fa-regular{
        margin-left: 17px;
        margin-top: 12px;
        font-size: 33px;
    }
    .fa-solid{
        margin-left: 17px;
        margin-top: 12px;
        font-size: 33px;
    }
    
    .boton_hambur h4 {
        text-decoration: underline;
        font-size: 20px;
    }
    .bodygeneral_productcard2 p{
        font-size: 410%;
    }
    .boton_hambur .fa-solid{
        display: none;
    }
    h3 {
        display: flex;
        align-items: center;
        width: 23%;
        justify-content: center;
        font-size: 14px;
        color: #21043d;
    }
    .andreani img {
        width: 75%;
        height: 68%;
    }
    .electroenvio {
        display: flex;
        flex-direction: column;
        padding: 1px;
        width: 26%;
        align-items: center;
        justify-content: center;
    }
    .envioelectro {
        width: 100%;
        font-size: 15px;
        border-radius: 6px;
        border: 0.1px solid;
        text-align: center;
    }
    .electroenvio h5 {
        font-size: 8px;
        width: 133px;
    }
    h2 {
        color: #21043d;
        font-weight: bold;
        font-size: 17px;
        margin-left: 10px;
    }
    .tipodepago {
        display: flex;
        width: 28%;
        margin-right: 74px;
        flex-direction: column;
        align-items: flex-start;
        font-size: 9px;
    }
    .pagar h3{
        left: 72%;
        position: absolute;
    }
    .boton_compra button {
        border-radius: 15px;
        border: 1px solid;
        padding: 2px;
        width: 125%;
        background-color: rgba(128, 128, 128, 0.363);
        font-weight: bold;
        font-size: 25px;
    }

}
@media(min-width: 1024px){
    .header__productcart input {
        margin-top: 42px;
        font-size: 25px;
        width: 879px;
        text-align: center;
        text-decoration: underline;
    }
    .fa-solid {
        margin-left: 17px;
        margin-top: 18px;
        font-size: 40px;
    }
    .fa-regular {
        margin-left: 17px;
        margin-top: 18px;
        font-size: 40px;
    }
    .boton_hambur h4 {
        text-decoration: underline;
        font-size: 24px;
    }
    .tipodepago {
        display: flex;
        width: 28%;
        margin-right: 74px;
        flex-direction: column;
        align-items: flex-start;
        font-size: 12px;
    }
    h3 {
        display: flex;
        align-items: center;
        width: 23%;
        justify-content: center;
        font-size: 19px;
        color: #21043d;
    }
    .boton_compra button {
        border-radius: 15px;
        border: 1px solid;
        padding: 2px;
        width: 125%;
        background-color: rgba(128, 128, 128, 0.363);
        font-weight: bold;
        font-size: 30px;
    }
    .andreani img {
        width: 75%;
        height: 56%; 
    }
    h2 {
        color: #21043d;
        font-weight: bold;
        font-size: 20px;
        margin-left: 10px;
    }
    .electroenvio h2 {
        font-size: 30px;
    }
    .electroenvio h5{
        font-size: 10px;
    }
}