/*FORMULARIO DE REGISTRO mobile*/
.copy_header_register h3 {
    text-align: center;
    font-weight: 100;
    color: rgb(0, 85, 255);
    font-weight: 400;
    text-decoration: underline;
    opacity: 0.7;
    width: 100%;
}
.redessocialesregsiter{
    margin-left: 15%;
}
.main__register__form {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    align-items: start;
}

.register__form_general {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.register {
    /*display:flex;*/
    align-items: center;
    /*flex-direction: column;*/
    /* align-items: flex-start;*/
    position: relative;
    padding-top: 5px;
}

.register__form_general-label {
    text-align: justify;
    margin-top: 15px;
    font-size: 20px;
    margin: auto;
}

.register__form_general-icon {
    margin-right: 250px;
    font-size: 28px;
    color: rgb(175, 170, 170);
    position: absolute;
    top: 41px;
    left: 12px;
}

.register__form_general-input {
    padding-right: 90px;
}
.register__terminos-condiciones{
    display: flex;
    font-size: 15px;
    padding-top: 14px;
}


.register #placeholder {
    text-align: center;
    padding-left: 18%;
    padding-right: 14%;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 2px solid #ccc;
    border-radius: 25px;
    outline: none;
    background-color: rgb(212, 210, 210);
    font-size: 16px;
    width: 149%;
}



.register__buttom {
    text-align: center;
}

.register__buttom nav ul i {
    font-size: 30px;
    padding-right: 50px;
    color: black;
}

.register__buttom button {
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25%;
    padding-right: 25%;
    font-size: 20px;
    margin-top: 20px;
   
    border: 1px solid #ccc;
    border-radius: 15px;
    outline: none;
    background-color: rgb(135, 188, 241);
}

.register__buttom h6 {
    margin-top: 5px;
    font-weight: 500;
}

.register__buttom h5 {
    color: cornflowerblue;
    margin-top: 5px;
    font-weight: 500;
    margin-bottom: 5px;
}
.cajagranderegister {
    width: 91%;
    margin-left: 3%;
}

/*FORMULARIO DE REGISTRO tablet*/
@media(min-width:768px){
    .redessocialesregsiter{
        margin-left: 6%;
    }
    .register__form .register__form_general {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 100%;
    }
    .copy_header_register h3 {
        text-align: center;
        font-weight: 100;
        color: rgb(0, 85, 255);
        font-weight: 400;
        text-decoration: underline;
        opacity: 0.7;
        width: 100%;
        font-size: 30px;
        padding-top: 20px;
    }
    
    .register {
        /* border: solid 2px orange;*/
        width: 100%;
        margin-top: 0px;
        height: 100px;
    }
    .register__terminos-condiciones {
        display: flex;
        padding-top: 47px;
        align-items: center;
        padding-left: 100px;
    }
    
    .register__form_general-label {
        /* border: solid 1px red;*/
        /*text-align: justify;
            /*padding-top: 50px;*/
        position: relative;
        top: 46px;
        left: 39px;
        text-decoration: underline;
    }
    
    .register__form_general-icon {
        margin-right: 250px;
    font-size: 0px;
    color: rgb(175, 170, 170);
    position: relative;
    left: -20%;
    top: 46%;
}
    
    
    .register__form_general-input {
        /* border: solid 1px blue;*/
        padding-left: 30px;
        padding-right: 30px;
        margin-bottom: 20px;
        
    
    }
    
    .register #placeholder {
        text-align: center;
        padding-left: 10%;
        padding-right: 9%;
        padding-top: 10px;
        padding-bottom: 10px;
        border: 2px solid #ccc;
        border-radius: 25px;
        outline: none;
        background-color: rgb(212, 210, 210);
        font-size: 18px;
        width: 100%;
    }
    
    .register__buttom button {
        padding: 20px;
        
        font-size: 18px;
        
        border: 1px solid #ccc;
        border-radius: 20px;
        outline: none;
        background-color: rgb(160, 201, 241);
    }
    
    .register__buttom h6 {
        margin-top: 5px;
        font-weight: 500;
        font-size: 16px;
    }
    
    .main__register__terminos-condiciones {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 25px;
        text-align: center;
    }
    
    .register__form_general {
        /*border: solid 1px red;*/
        display: flex;
        /*flex-direction:column;*/
        flex-wrap: wrap;
    }
    
    .footer__container {
        background-color: violet;
        border: solid 1px blue;
    }
    
    .register__terminos-condiciones label {
        font-size: 20px;
    }
    
    .register__form_general .register {
        flex-wrap: wrap;
    }
    .cajagranderegister {
        width: 80%;
    margin-left: 10%;
    }
}
@media(min-width:1024px){
   
    .cajagranderegister {
        width: 70%;
        margin-left: 14%;
    }
    .register__terminos-condiciones {
        display: flex;
        padding-top: 50px;
        align-items: center;
        padding-left: 20%;
    }
    .register__form_general-icon {
        margin-right: 250px;
        font-size: 0px;
        color: rgb(175, 170, 170);
        position: relative;
        left: -23%;
        top: 48%;
    }
}

/*FORMULARIO DE REGISTRO Desktop*/
@media(min-width:1440px){
    .register__form .register__form_general {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 100%;
    }
    .copy_header_register h3 {
        text-align: center;
        font-weight: 100;
        color: rgb(0, 85, 255);
        font-weight: 400;
        text-decoration: underline;
        opacity: 0.7;
        width: 100%;
        font-size: 35px;
        padding-top: 20px;
    }
    
    .register {
        /* border: solid 2px orange;*/
        width: 100%;
        margin-top: 0px;
        height: 100px;
    }
    .register__terminos-condiciones {
        display: flex;
        padding-top: 47px;
        align-items: center;
        padding-left: 373px;
    }
    .cajagranderegister{
        width: 53%;
    margin-left: 25%;
    }
    
    .register__form_general-label {
        /* border: solid 1px red;*/
        /*text-align: justify;
            /*padding-top: 50px;*/
        position: relative;
        top: 46px;
        left: 39px;
        text-decoration: underline;
    }
    
    .register__form_general-icon {
        margin-right: 250px;
    font-size: 0px;
    color: rgb(175, 170, 170);
    position: relative;
    left: -200px;
    top: 47px;
}
    
    
    .register__form_general-input {
        /* border: solid 1px blue;*/
        padding-left: 30px;
        padding-right: 30px;
        margin-bottom: 20px;
        
    
    }
    
    .register #placeholder {
        text-align: center;
        padding-left: 10%;
        padding-right: 9%;
        padding-top: 10px;
        padding-bottom: 10px;
        border: 2px solid #ccc;
        border-radius: 25px;
        outline: none;
        background-color: rgb(212, 210, 210);
        font-size: 18px;
        width: 100%;
    }
    
    .register__buttom button {
        padding: 20px;
        
        font-size: 15px;
        margin-top: 20px;
        margin-left: 25px;
        border: 1px solid #ccc;
        border-radius: 20px;
        outline: none;
        background-color: rgb(160, 201, 241);
    }
    
    .register__buttom h6 {
        margin-top: 1%;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 1%;
    }
    
    .main__register__terminos-condiciones {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 25px;
        text-align: center;
    }
    
    .register__form_general {
        /*border: solid 1px red;*/
        display: flex;
        /*flex-direction:column;*/
        flex-wrap: wrap;
    }
    
    .footer__container {
        background-color: violet;
        border: solid 1px blue;
    }
    
    .register__terminos-condiciones label {
        font-size: 20px;
    }
    
    .register__form_general .register {
        flex-wrap: wrap;
    }
    .redessocialesregsiter {
        margin-left: 3%;
    }
}
