

<body class="body_general_edit">
  <div class="body__edit">
    <div class="logo-edit">
      <img src= "/img/electroGroupstexto.png" alt="logo de edit">
      <h1>ElectroGroup</h1>
          </div>
      
      <main class="registro-edit">
        <title>Electrogroup</title>
         
          <fieldset class="registro-edit2">
              <h1>CARGA DE PRODUCTO</h1>
              
                <form action="/edit" method="post">
                    <div >
                        <label for="nombre">ID</label>
                        <input type="text" name="usuario" placeholder="id" required>
                      </div>
                      <div  >
                        <label for="nombre">Descripcion</label>
                        <input type="text" name="usuario" placeholder="descripcion" required>
                      </div>
                      <div >
                        <label for="nombre"> Precio</label>
                        <input type="text" name="usuario" placeholder="precio" required>
                      </div>
                      <div >
                        <label for="nombre"> Imagen</label>
                        <input type="file" name="usuario" placeholder="imagen" required>
                      </div>
                  
                 
              
                  
                  <div class="contenor_botones">
                    
                      <button type="submit" title="Ingresar" name="Ingresar">CARGAR</button>
                      
                      <button id="botonrojo"  >EDITAR</button>
                  </div>
                </form>
            </fieldset>  
      </main>
  </div>
  
    
</body>
</html>

  
  
 
  

 