.main-editproduct-Form{
    display: flex;
    flex-direction: column;
}

.edit_product{
    width: 100%;
    display: flex;
    background-image: url(../img/giphy.gif);
    flex-direction: column;
    align-items: center
}
.form-editProduct{
    margin-top: 5px;
    gap: 12px;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 14px;
}
.label-editP{
    color: white;
    font-size: 17px;
    width: max-content;
}
.imput-edicion {
    font-size: 12px;
    width: 90%;
}
.description textarea {
    width: 90%;
    font-size: 12px;
}
.precio_edicion {
}
.boton-edit-img img{
    width: 40%;
    color:grey;
    width: max-content
}
.boton_edit{
    background-color:var(--color-celesteoscuro);
    color:white;
    width: max-content
}
 /* vista tablet */
@media(min-width:768px){
    .form-editProduct{ 
    margin-top: 5px;
    gap: 12px;
    width: 92%;
    display: flex;
    flex-direction: column;
    margin-left: 66px;
    }
}

/* vista desktop */

@media (min-width: 1024px){
.form-editProduct {
    margin-top: 5px;
    gap: 12px;
    width: 75%;
    display: flex;
    flex-direction: column;
    margin-left: 60px;
}
.imput-edicion {
    font-size: 12px;
    width: 32%;
    height: 38px;
}
.label-editP{
    color: white;
    font-size: 22px;
    width: max-content;
}
}