.main__header {
    display: flex;
    flex-direction: column;


}

.hamburguer-buttom {
    display: block;

    color: white;
    display: block;
    max-width: 50px;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    font-size: 25px;


}

.logo {
    display: flex;
    width: 40%;

}

.copy__header {
    display: none;
    font-weight: 400px;
    text-align: center;
    color: white;


}

input {
    display: flex;

}

.main__navbar-icon {

    width: 40%;
    color: white;


}

.main__navbar__bottom {
    display: flex;
    justify-content: space-between;
    color: white;
    background: var(--color-celesteclaro);

}

.left-navbar {
    display: flex;
    justify-content: flex-start;

}

.left-navbar li {
    display: flex;
    justify-content: space-between;



}


.right-navbar h3 {
    display: flex;
    justify-content: space-between;
    justify-content: flex-start;
    border: solid 2px white;
    width: 100%;
    padding: 20px;

}

#iconodeayuda {
    font-size: 25px;
    align-self: center;
    padding-bottom: 5px;
}

* {
    box-sizing: border-box;

}

body {
    font-family: "Roboto";
}

.main__header__top_bar {
    display: flex;
    background: linear-gradient(to bottom right, var(--color-violeta), blue);
    margin: 0;
    padding: 0;
    width: 100%;
    height: 55%;
    align-items: center;
    justify-content: space-between;

}




.main__header__top_bar .main__header-search #search {
    display: none;
}

.main__header__top_bar .main__header-search i {
    display: none;
}

.main__navbar-icon ul i {
    color: white;
    padding-left: 0px;
    font-size: 25px;
    margin-top: 10px;
}

.copy__header .main__header-serch {
    display: none;
    border: 1px solid red;
}

.main-navbar {
    background-color: var(--color-violeta);
    display: none;
    margin: 0;
    padding: 0;
    width: 100%;

}

.main-navbar ul {
    list-style: none;
    margin: 0;
    padding-right: 20px;
    color: white;
}

.main-navbar a {
    text-decoration: none;
    color: white;
    display: inline-block;
    padding: 5px 0;
    font-size: 17px;
}


/*table*/


@media (min-width:768px) {
    .main__header__top_bar {
        display: flex;
        background-color: var(--color-violeta);
        margin: 0;
        padding: 0;
        width: 100%;
        height: 55%;
        align-items: center;
        justify-content: space-between;
    }

    .main__header__top_bar .logo {
        display: flex;
    }

    .main__header__top_bar {

        display: flex;
        justify-content: space-between;
    }

    .logo {
        width: 80px;
    }

    .copy__header {
        display: flex;
        margin: 0;
        max-width: none;
        font-size: 22px;
        font-weight: 400;
    }

    .hamburguer-buttom {
        display: none;
    }

    .main-navbar {
        display: flex;
        justify-content: space-between;
    }

    .main-navbar ul {
        display: flex;

    }

    .main-navbar li {
        display: flex;
        align-items: center;
        padding-left: 25px;
    }

    .main__navbar-icon ul i {
        font-size: 30px;
    }

    .main-navbar .right-navbar a {
        margin: 0px 5px;
    }

    .main__header-search {
        display: flex;
        margin-top: 35px;

    }

    .main__header__top_bar .main__header-search #search {
        display: block;
        font-size: 10px;
    }

    .main__header-serch i {
        display: flex;
        position: relative;
        right: 50px;
    }

    .main__navbar-icon {

        display: flex;
        justify-content: space-evenly;
    }

    .main__header__top_bar .main__header-search {
        display: flex;
        color: white;
        width: 200px;
    }

    .main__header__top_bar .main__header-search i {
        display: flex;
        color: white;
        width: 111px;
        position: relative;
        left: 201px;
        bottom: 32px;
        font-size: 16px;
    }

    .main__header__top_bar .main__header-search #search {
        font-size: 15px;
        border: 2px solid #ccc;
        border-radius: 10px;
        outline: none;
        width: 116%;
        margin-left: 10px;
    }
}

/*Desktop*/
@media(min-width:1024px) {
    .main__header__top_bar .main__header-search i {
        display: flex;
        color: white;
        width: 112px;
        position: relative;
        left: 201px;
        bottom: 38px;
        font-size: 16px;
    }

    .copy__header {
        display: flex;
        margin: 0;
        max-width: none;
        font-size: 40px;
        font-weight: 400;
    }

    .logo {
        width: 80px;
        margin-left: 3px;
    }



    .main__header__top_bar {
        align-items: center;

    }



    .main-navbar {
        margin-top: 0px;


    }

    .main__header__top_bar .main__header-search #search {
        font-size: 20px;
        border: 2px solid #ccc;
        border-radius: 10px;
        outline: none;

    }


    .main__header__top_bar .main__header-search i {
        display: flex;
        color: white;
        width: 120px;
        position: relative;
        left: 277px;
        bottom: 40px;
        font-size: 16px;
    }

    .main__header__top_bar .main__header-search {
        display: flex;
        color: white;
        width: 360px;
    }

    .main__navbar-icon {

        font-size: 25px;
    }

    .main__navbar-icon ul i {
        font-size: 30px;
    }

    .main-navbar li {
        margin: 0 10px;
    }

    .main-navbar a {
        font-size: 19px;
    }


}

@media (min-width:1440px) {
    .main__navbar-icon {
        width: 20%;
        color: white;
    }

    .main__header__top_bar .main__header-search #search {
        font-size: 25px;
        border: 2px solid #ccc;
        border-radius: 10px;
        outline: none;

        width: 174%;
    }

    .main__header__top_bar .main__header-search i {
        display: flex;
        color: white;
        width: 120px;
        position: relative;
        left: 515px;
        bottom: 45px;
        font-size: 17px;
    }








}

@media (min-width: 1440px) {
    .copy__header {
        display: flex;
        margin: 0;
        max-width: none;
        font-size: 40px;
        font-weight: 400;
        position: absolute;
        left: 12%;
        top: 5%;
    }
}