.home__main__section{
    display: flex;
   flex-wrap: wrap;
   justify-content: center;
}

.home__main__banner{
    width: 100%;
}


.home__main__section article{
    width: 80%;
    background-color: rgba(10, 2, 116, 0.025);
    border: 1px solid var(--color-violeta);
    border-radius: 5%;
    margin: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2%;
    transition: box-shadow 0.8s;
}

.enlace__articulo__detalle{
    color:black
}

.home__main__section-article img{
    width: 70%;
    height: 40%;
    filter:brightness(1.1);
    mix-blend-mode: multiply;
    transition: 1.5s

    
}

.home__main__section-article div{
    border-top: 1px solid gray;
}

.home__main__section p{
    font-size: 12px;
    font-weight: 500;
    margin: 0 5px;
    
}

.home__main__section-article button{
    width: 50%;
    font-size: 10px;
    position: absolute;
    bottom: 2%;
    right: 5%;
    transition: 1.5s;
    padding: 2%;
    
}

.home__main__section-article h4{
    font-size: 14px;
    margin-bottom: 5%;
    font-weight: bold;
    margin-left: 5px;
}


.home__main__section-article button a{
    text-decoration: none;
    color: black;
}

.home__main__section-article div{
    position: relative;

}

.home__main__tituloOfertas{
    display: none;
}

.home__main__section-ofertas div{
    border-top: 1px solid gray;
}
.home__main__ofertas{
    display: none;
}

.home__section__article-logos{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: rgb(225, 220, 220);
    border-radius: 5px;
    height: 8%;
    
}

.home__section__article-logos a{
    width: 20%;
}

.home__section__article-logos img{
    width: 90%;
    padding: 5px;
  
}



/* Tablet responsive */

@media(min-width: 768px){
 
    .home__main__section article{
        width: 40%;
        
    }
   
    .home__main__section article img{
        width: 80%;
        height: 60%;
        
        
    }
    

    .home__main__section p{
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 15px;
        
    }
    
    .home__main__tituloOfertas{
        display: block;
        font-size: 30px;
        font-weight: 700;
        text-decoration: underline;
        width: 100%;
        border-top: 2px dotted black;
    }

    .home__main__ofertas{
        
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .home__main__ofertas article{
        width: 40%;
        background-color: rgba(10, 2, 116, 0.025);
        border: 1px solid var(--color-violeta);
        border-radius: 5%;
        margin: 5%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 2%;
        transition: box-shadow 0.8s;
    }
    
    
    .home__main__section-ofertas img{
        width: 80%;
        height: 60%;
        filter:brightness(1.1);
        mix-blend-mode: multiply;
        transition: 1.5s;
        
    }
    
   
    .home__main__ofertas p{
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 15px;
    }
    
    .home__main__section-ofertas button{
        width: 50%;
        font-size: 12px;
        position: absolute;
        bottom: 2%;
        right: 5%;
        font-weight: 400;
        padding: 2%;
        transition: 1.5s;
        
    }
    
    .home__main__section-ofertas h4{
        font-size: 24px;
        margin: 0 0 10% 3%;
        font-weight: bold;
        display: none;
        transition: display 2s, color, font-size;
        
    }
    .home__main__section-ofertas:hover h4{
display: block;
font-size: 40px;
color: #21043d;
    }
    
    .home__main__section-ofertas button a{
        text-decoration: none;
        color: black;
    }
    
    .home__main__section-ofertas div{
        position: relative;
    
    }
    

    .home__section__article-logos{
        text-align: center;
    }

    .home__section__article-logos a{
        width: 20%;
    }
    
    .home__section__article-logos img{
        width: 50%;
        padding: 5px;
    }
    
    .home__main__section-article button{
        
        font-size: 12px;
        font-weight: 400;
        
        
    }
    
    .home__main__section-article h4{
        font-size: 24px;
        margin: 0 0 10% 3%;
        font-weight: bold;
    }
    
    .home__main__section-article button a{
        text-decoration: none;
        color: black;
    }
    
    .home__main__section-article div{
        position: relative;
    
    }
    
}

/*Desktop*/

@media(min-width: 1024px){
    .home__main__section article{
        width: 20%;
        margin: 2%;
        gap: 2%;
        transition: box-shadow 0.8s;
    }

    .home__main__ofertas article{
        width: 20%;
        margin: 2%;
        gap: 2%;
        transition: box-shadow 0.8s;
    }

    .home__main__section-article:hover{
        box-shadow: 0px 0px 50px var(--color-violeta);
       
    }
    
    .home__main__section-article:hover img{
        transform: scale(1.2);
    }

    .home__main__section-article button{
        width: 50%;
    font-size: 10px;
    position: absolute;
    bottom: 20%;
    right: 3%;
    transition: 1.5s;
    padding: 2%;

    }

    .home__main__ofertas button{
        width: 50%;
        font-size: 10px;
        position: absolute;
        bottom: 20%;
        right: 3%;
        transition: 1.5s;
        padding: 2%;
    
    }
    
    .home__main__section-article h4{
        font-size: 15px;
    margin: 0 0 15% 3%;
    font-weight: bold;
}
    

    .home__main__section-ofertas h4{
        font-size: 15px;
        margin: 0 0 15% 3%;
        font-weight: bold;
    }
    .home__main__section p{
        font-size: 10px;
        font-weight: 600;
        margin-bottom: 10px;
        
    }

    
    .home__main__ofertas p{
        font-size: 10px;
        font-weight: 600;
        margin-bottom: 10px;
        
    }

    

    .home__main__section-ofertas:hover{
        box-shadow: 0px 0px 50px var(--color-violeta);
       
    }
    
    .home__main__section-ofertas:hover img{
        transform: scale(1.2);
    }

    .home__main__section-article:hover button{
        background-color: rgb(35, 184, 6);
    }

    .home__main__section-ofertas:hover button{
        background-color: rgb(35, 184, 6);
    }

}

@media(min-width: 1200px){
    .home__main__section article{
        width: 20%;
        margin: 2%;
        gap: 2%;
        transition: box-shadow 0.8s;
    }

    .home__main__ofertas article{
        width: 20%;
        margin: 2%;
        gap: 2%;
        transition: box-shadow 0.8s;
    }
    
    .home__main__section-article h4{
        font-size: 30px;
        margin: 0 0 10% 3%;
        font-weight: bold;
        padding-bottom: 40px;
    }
        
    
    .home__main__section-ofertas h4{
        font-size: 30px;
        margin: 0 0 10% 3%;
        font-weight: bold;
        padding-bottom: 40px;
    }
        
    

    .home__main__section p{
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 15px;
        
    }

    .home__main__ofertas p{
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 15px;
        
    }



    .home__main__section-article:hover{
        box-shadow: 0px 0px 50px var(--color-violeta);
       
    }
    
    .home__main__section-article:hover img{
        transform: scale(1.2);
    }

    .home__main__section-ofertas:hover{
        box-shadow: 0px 0px 50px var(--color-violeta);
       
    }
    
    .home__main__section-ofertas:hover img{
        transform: scale(1.2);
    }

    .home__main__section-article:hover button{
        background-color: rgb(35, 184, 6);
    }

    .home__main__section-ofertas:hover button{
        background-color: rgb(35, 184, 6);
    }
}
