@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url(general.css);
@import url(header.css);
@import url(index.css);
@import url(login.css);
@import url(productCart.css);
@import url(productDetail.css);
@import url(register.css);
@import url(footer.css);
@import url(productedit.css);
@import url(dashboard.css );
@import url(editProduct.css);